:root {
    --customGradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

#fileName {
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;
}

#madeby {
    background-image: var(--customGradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
    font-size: 2rem;
}

body {
    background-color: #181a21;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    width: 90%;
    font-size: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.highlight::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: var(--customGradient);
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.highlight:hover::before {
    opacity: 1;
}

table {
    border-collapse: collapse;
    height: 100%;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

table::before,
table::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: var(--customGradient);
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.2s ease;

}

table:hover::before,
table:hover::after {
    opacity: 1;
}

table::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), 5px calc(100% - 5px), 5px 5px);
}

table::after {
    clip-path: polygon(5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), 5px calc(100% - 5px), 5px 5px, 0 0, 100% 0, 100% 100%, 0 100%, 5px calc(100% - 5px));
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #181a21;
    font-size: 1.5rem;
    color: #ffffff;

}



tr th {
    cursor: pointer;
}

/* Select even rows */
tr:nth-child(even) td {
    background-color: #dddddd;
}

/* Select odd rows */
tr:nth-child(odd) td {
    background-color: #ffffff;
}




@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

